<% include /admin/partial/header %>


<h1 class='text-center'>Create kBase Document</h1>
<div class="container">
	<form id='newDoc_form' class='form' method='POST' action='/admin/doc/new'>
		<input type='submit' class='btn btn-success pull-right' value='Create'>
		<input type='text' name='doc[title]' class='form-control space' placeholder="Document Title">
		<input type="text" name='doc[meta]' class="form-control space" placeholder="Meta Tags">
		<textarea name='doc[body]'></textarea>
	</form>
	
</div>


<script type="text/javascript">
	var simplemde = new SimpleMDE();
</script>

<% include /admin/partial/footer %>