<% include partial/header %>
<style>
    .resultBox {
        border: 1px solid rgba(100, 100, 100, .75);
        border-left:5px solid #FF9A26;
        border-right:5px solid #FF9A26;
        border-radius: 5px;
        padding: 10px;
        margin-bottom:10px;
        position:relative;
        transition: box-shadow .5s;
        cursor: pointer;
    }
    
    .resultBox:hover {
        box-shadow: 0 0 10px rgba(43, 90, 161, .75);
    }
    
    .resultBox:hover {
        border-left: 5px solid #2B5AA1;
        border-right: 5px solid #2B5AA1;
    }
    
    .resultBox h4 {
        font-weight:bold;
        margin-bottom:15px;
        color: #2B5AA1;
    }
    
    .resultBox p {
        font-size: .85em;
        margin-bottom:0;
        width:90%;
    }
    
    .rViews {
        position:absolute;
        top:15px;
        color: #fff;
        right:10px;
        font-size: .75em;
       
        padding:5px;
        border-radius: 10px;
        background-color: #2B5AA1;
    }
    
    .Rating {
        position:absolute;
        bottom: 10px;
        right: 10px;
    }
</style>




<div class='container'>
	<div class='text-center'><img class='hcl_logo' src="images/hcl-logo.png"></div>
	<div class="row">	
			<form class='form'>
                <span class='col-md-1'></span>
                <div class='col-md-9'>
                    <input width="90%" class='form-control' type='text' placeholder='Looking for answers?'>
                </div>                
                <span class='col-md-1'>
                    <input type='submit' class='btn btn-primary' value='Search'> 
                </span>                
            </form>		
	</div>	
	<hr>    
        <% docs.forEach ( function (doc) { %>
            <div class='resultBox'>
                <h4><%= doc.title %></h4>
                <p><%= doc.meta %></p>
                <span class='rViews'><strong>Views :</strong> <%= doc.views %></span>
                <span class='docID hidden'><%= doc._id %></span>
                <span class='Rating'><strong>Helpful</strong></span>
            </div>
        <% }) %>
</div>



<script>
$('.resultBox').on('click', function () {
    var ID = $(this).find('.docID').html();
    var tmp = "/show/" + ID;
    $(location).attr('href', tmp);
});

</script>




<% include partial/footer %>