<% include partial/header %>


<div class='container'>
	<div class='text-center'><img class='hcl_logo' src="images/hcl-logo.png"></div>
	<div class="row">
		<div class='col-sm-1 col-md-2'></div>
		<div class='col-sm-10 col-md-8'>
			<input class='form-control' type='text' placeholder='Search'>
		</div>
		<div class='col-sm-1 col-md-2'></div>
	</div>	
	
	<% if(docs){ docs.forEach(function(doc){ %>
		<div>
			<a href='/show/<%= doc._id%>'><%= doc.title %></a>
		</div>
	<% })} %>

</div>


<% include partial/footer %>