.hcl_logo {
	margin-bottom: 40px;
    margin-left: -30px;
    width: 50%;
}


#newDoc_form input,
#newDoc_form select,
#editDoc_form input, 
#editDoc_form select {
    margin-bottom: 15px;
}

#newCat input {
    margin-bottom: 15px;
}

table.table-hover>tbody>tr:hover {
    background-color: #CCC;    
}

table.table-hover>tbody>tr:hover>td {
    border-top: 1px solid #999;
}

#catScrollArea {
    overflow-y: scroll;
    max-height: 100px;
}

.topPanel .panel-body {
    font-size: 1.5em;
}

.manTitle {
    font-size: 1.75em;
    font-weight: bold;
    padding: 15px;
}

ul.pagination {
    padding:0;
    margin:0;
}

#catDelete input {
    margin-left: 15px;
}

.panel-body img {
    opacity: 75%;
    width: 20%;
   margin: 25px 40%;
}