<% include ../partial/header %>


<h1 class='text-center'>Create kBase Document</h1>
<div class="container">
	<form id='newDoc_form' class='form' method='POST' action='/admin/doc/new'>
		<input type='submit' class='btn btn-success pull-right' value='Create'>
		<input type='text' name='doc[title]' class='form-control space' placeholder="Document Title">
		<input type="text" name='doc[meta]' class="form-control space" placeholder="Summary">
        <select class='form-control' name='doc[category]'>
            <option value="" disabled selected hidden>No Category</option>
            <% if(cats) cats.forEach(function (cat) { %>
            <option value="<%= cat._id%>"> <%= cat.name %></option>
            <% }) %>
        </select>
        
		<textarea name='doc[body]'></textarea>
	</form>
	
</div>


<script type="text/javascript">
	var simplemde = new SimpleMDE();

</script>

<% include ../partial/footer %>