<!Doctype html>
<html>
	<head>
		<!-- jQuery -->
		<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

		<!-- Bootstrap CDN info -->
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<!--Simple Mark Down Editor CDN-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
        <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>


        <link href='/default.css' rel='stylesheet'>
	</head>
	<header>
		<title>HCL Knowledgebase</title>
	</header>	

	<body>

        
<div class='container'>
    <% if(error && error.length > 0) { %>
        <div class='alert alert-danger'>
           <span class='glyphicon glyphicon-exclamation-sign'></span> <%= error %>
        </div>
    <% } %>
    <% if(info && info.length > 0) { %>
        <div class='alert alert-info'>
           <span class='glyphicon glyphicon-ok-sign'></span> <%= info %>
        </div>
    <% } %>
</div>